@import './styles/tokens.css';
@import './styles/effects.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-void);
  color: var(--color-bleached);
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body-m);
}

code {
  font-family: var(--font-primary);
}


